<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | Tax Registration</title>
    <link rel="icon" type="image/x-icon" href="/assests/k-logo.avif">
    <link rel="stylesheet" href="./Tax-Registration.css">
</head>
<body>

    <header class="navbar">
        <div class="logo">
          <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
          <p class="company-name">RINETECH</p>
        </div>
        
        <nav class="nav-links">
            <div class="nav-item"><a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a></div>
            <div class="nav-item middle">
              <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
              <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
            </div>
            <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
            <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
          </nav>

            <button class="contact-button">
              <span><a href="/Component/Contact/contact.html">CONTACT</a></span>
              <div class="hex-wrapper">
                  <img src="/assests/hexagon.svg" class="button-hexagon" />
                  <img src="/assests/right arrow.svg" class="button-arrow" />
                </div>
            </button>

      </header>
    
    <div class="container">
        <section class="gst-section">
            <div class="content">
                <h2>GST REGISTRATION</h2>
                <p style="white-space: normal; word-break: break-word; width: 300px;">GST (GOODS AND SERVICES TAX) IS A DESTINATION BASED TAX ON CONSUMPTION OF GOODS AND SERVICES. IT IS AN INDIRECT AND MULTISTAGE TAX.</p>
                <a href="/Component/Navbar-internal-element/GST.html" class="service-button">
                    <span>SERVICE</span>
                    <div class="hex-wrapper">
                        <img src="/assests/hexagon.svg" class="button-hexagon" />
                        <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </a>
            </div>
        </section>
        <section class="epf-esi-section">
            <div class="content">
                <h2>EPF ESI REGISTRATION</h2>
                <p style="white-space: normal; word-break: break-word; width: 300px;">NO NEED TO WORRY WHEN THERE IS EPF/ESI THE SOLUTION FOR THE EMPLOYEES!!</p>
                <a href="/Component/Navbar-internal-element/epf-esi.html" class="service-button">
                    <span>SERVICE</span>
                    <div class="hex-wrapper">
                        <img src="/assests/hexagon.svg" class="button-hexagon" />
                        <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </a>
            </div>
        </section>
    </div>
</body>
</html>