<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rintech | Company Registration</title>
    <link rel="icon" type="image/x-icon" href="/assests/k-logo.avif">
    <link rel="stylesheet" href="./companyregistration.css">
</head>
<body>

    <header class="navbar">
        <div class="logo">
          <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
          <p class="company-name">RINETECH</p>
        </div>
  
        <!-- Navigation Links -->
        <nav class="nav-links">
            <div class="nav-item"><a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a></div>
            <div class="nav-item middle">
              <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
              <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
            </div>
            <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
            <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
          </nav>
          
            <button class="contact-button">
              <a href="/Component/Contact/contact.html">CONTACT</a>
              <div class="hex-wrapper">
                  <img src="/assests/hexagon.svg" class="button-hexagon" />
                  <img src="/assests/right arrow.svg" class="button-arrow" />
                </div>
            </button>

      </header>

    <div class="container">
  <div class="row top">
    <section class="section fssai">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 250px;">PROPRIETORSHIP REGISTRATION</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">FOR THOSE WHO ARE LOOKING FOR TRADITIONAL, SMALL STREET SIDE BUSINESSES.</p>
        <a href="/Component/Navbar-internal-element/proprietory.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>

    <section class="section import-export">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 350px;">PARTNERSHIP<br/>REGISTRATION</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">PARTNERSHIPS ARE PASS-THROUGH TAX ENTITIES.TAXATION RATES AND COMPLIANCES APPLICABLE TO PARTNERSHIP FIRMS ARE LOWER THAN THE OTHER FORM OF BUSINESS.</p>
        <a href="/Component/Navbar-internal-element/Partnership.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>

    <section class="section msme">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 350px;">LIMITED LIABILITY PARTNERSHIP</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">LIMITED LIABILITY PARTNERSHIP(LLP) HAS BECOME A PREFERRED FORM OF ORGANIZATION AMONG ENTREPRENEURS AS IT INCORPORATES THE BENEFITS OF BOTH PARTNERSHIP FIRM AND COMPANY INTO A SINGLE FORM OF ORGANIZATION.</p>
        <a href="/Component/Navbar-internal-element/Limitedliablity.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>
  </div>

  <div class="row down">
    <section class="section gst">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 300px;">ONE PERSON  COMPANY REGISTRATION</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">AN OPC  IS EFFECTIVELY A COMPANY THAT HAS ONLY ONE MEMBER AS IT'S SHAREHOLDER.</p>
        <a href="/Component/Navbar-internal-element/onepersoncompany.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>

    <section class="section itr">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 250px;"">PRIVATED LIMITED COMPANY REGISTRATION</h2>
        <p style="white-space: normal; word-break: break-word; width:300px;">PRIVATE LIMITED COMPANY IS THE MOST POPULAR FORM OF BUSINESS REGISTRATION AMONG ENTREPRENEURS INORDER TO ESTABLISH THEIR EMPIRE</p>
        <a href="/Component/Navbar-internal-element/Privated-linited.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>

    <section class="section pf-esi">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 250px;">PUBLIC LIMITED COMPANY REGISTRATION</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">START BUSINESS REGISTRATION OPTION FOR THOSE WHO WANT TO RAISE THE FUNDING FROM THE PUBLIC.</p>
        <a href="/Component/Navbar-internal-element/Public.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>
  </div>
</div>
</body>
</html>
