<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GST REGISTRATION | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <section id="Header">
        <div class="container">
          <!-- NAVBAR -->
          <header class="navbar">
            <!-- Logo -->
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
      
            <!-- Navigation Links -->
            <nav class="nav-links">
                <div class="nav-item"><a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a></div>
                <div class="nav-item middle">
                  <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
                  <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
                </div>
                <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
                <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>

          </header>
          <!-- Optional Content Area -->
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">FSSAI REGISTRATION</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">FSSAI Registration - An Overview</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>Registration with the FSSAI is mandatory for everyone in the food business. Food processing, food manufacturing, packaging, distribution, sales, etc.
              </li>
              <li>
                It would be helpful if you could register FSSAI for your business. Fssai registration/license is issued by the Food Safety and Standards Authority of India (FSSAI).</li>
              <li>This agency oversees food businesses in accordance with the policies and regulations outlined in the FSSAI Act 2006.</li>
            </ul>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">FSSAI LICENCE REGISTRATION ELIGIBILITY</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 420px;">
                    <li>License and registration with FSSAI is mandatory for all food businesses. Any business that manufactures, processes, stores, transports, distributes, or sells food must obtain an FSSAI license or registration.
                    </li>
                    <li>There are two types of licenses issued by the FSSAI:
                    </li>
                    <li>
                        Basic registration and State licenses.</li>
                    <li>Basic registration is required for small food businesses with an annual turnover of less than 12 million. All other food businesses, including those with basic registration, require a state license.
                    </li>
                    <li>
                        The eligibility criteria for the FSSAI license are: Applicant must be a food manufacturer, processor, packer, distributor, importer, or retailer of food.</li>
                        <li>Applicants must have a valid Food Business Certificate (FBO) from a local government or other relevant authority as required by the FSS Act 2006.</li>
                    <li>Applicant must have a valid registration certificate.
                    </li>
                    </ul>
            </div>
        </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>03</p>
            <p style="white-space: normal; word-break: break-word; width:500px;">FOSCOS FSSAI LICENSE RENEWAL</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width:420px;">
                    <li>FSSAI licenses are valid for 1-5 years and can be renewed before they expire.
                    </li>
                    <li>An individual or organization holding an FSSAI registration or license may apply for license renewal by submitting an application no later than 30 days before the license expires.</li>
                    <li>The renewal process is similar to the application process and requires the same documents.</li>
                    <li>Any FSSAI renewal request submitted after the expiration date will be subject to a late fee of ₹100 per day.
                    </li>
                    <li>Food business operators must cease all operations on site when their food business license expires.
                    </li>
                </ul>
            </div>
        </div>
    </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Document required for online GST</p>
          <p>registration</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Aadhar card</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>PAN card</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Bank account details</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Registered office proof (Utility bill)</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Mobile number and email Id</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Passport size photograph</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>
  
        <hr class="footer-divider"/>
          <div class="navgate">
            <a href="/index.html">HOME</a>
            <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
            <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
            <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
            <a href="/Component/Development/development.html">DEVELOPMENT</a>
            </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>
