<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company REGISTRATION | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <!-- Logo -->
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
            <nav class="nav-links">
                <div class="nav-item">TAX REGISTRATION</div>
                <div class="nav-item middle">
                  <span class="text-default">COMPANY</span>
                  <span class="text-hidden">REGISTRATION</span>
                </div>
                <div class="nav-item">INDUSTRY SPECIFIC REGD.</div>
                <div class="nav-item">DEVELOPMENT</div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>

          </header>
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">Mobile Development</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">WHAT IS MOBILE APPLICATION DEVELOPMENT?</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices, such as smartphones and other hand-held devices.</li>
              <li>As part of the development process, mobile user interface (UI) design is also essential in the creation of mobile apps. Mobile UI considers constraints, contexts, screen, input, and mobility as outlines for design.</li>
            </ul>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">MOBILE APP DEVELOPMENT PLATFORMS</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 420px;">
                    <li>The two most important mobile app platforms are iOS from Apple Inc. and Android from Google. iOS is Apple’s proprietary mobile operating system built specifically for iPhones. Android, however, runs on mobile devices manufactured by various OEMs, including Google.
                    </li>
                  </ul>
            </div>
        </div>
      </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Types of Mobile Development</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line-mobile"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Native Mobile Applications</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Cross-Platform Native Mobile Applications</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Hybrid Mobile Applications</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Progressive Web Application (PWA)</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>
        <hr class="footer-divider"/>
        <div class="navgate">
          <a href="/index.html">HOME</a>
          <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
          <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
          <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
          <a href="/Component/Development/development.html">DEVELOPMENT</a>
          </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>