<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Company registration | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <!-- Logo -->
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
            <nav class="nav-links">
                <div class="nav-item"><a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a></div>
                <div class="nav-item middle">
                  <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
                  <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
                </div>
                <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
                <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>

          </header>
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">ONE PERSON COMPANY<br class="shubham-content"/> REGISTRATION</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">WHAT IS OPC REGISTRATION</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>One Person Company in India is a new concept that has been introduced with the Company's Act 2013.
              </li>
              <li>One Person Company in India is incorporated by a single person. Before the enforcement of the Companies Act 2013 a single person was not able to establish a company.</li>
              <li>An OPC has features of a Company and the benefits of the sole proprietorship. Earlier if a person had to establish a business then he or she should only opt for a sole proprietorship.</li>
              <li>A One Person Company Registration in India can be obtained under the Companies Act 2013 with just one single member and one Director.
            </li>
              <li>The Director and member can also be the same person. Here an individual who may be a resident or Non-resident Indian can register an OPC in India
            </li>
            </ul>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">ADVANTAGE OF OPC</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 450px;">
                    <li class="shubham-text"><span class="main-text">Legal status</span><span><br/>The OPC receives a separate legal entity status from the member. The separate legal entity of the OPC gives protection to the single individual who has incorporated it. The liability of the member is limited to his/her shares, and he/she is not personally liable for the loss of the company. Thus, the creditors can sue the OPC and not the member or director.</span></li>
                    <li class="shubham-text">
                        <span class="main-text">Easy to obtain funds</span>
                      <span>
                        <br/>
                        Since OPC is a private company, it is easy to go for fundraising through venture capitals, angel investors, incubators etc. The Banks and the Financial Institutions prefer to grant loans to a company rather than a proprietorship firm. Thus, it becomes easy to obtain funds.
                      </span>
                      </li>
                     <li class="shubham-text"><span class="main-text">Less compliances</span>
                        <span>
                        <br/>
                        he Companies Act, 2013 provides certain exemptions to the OPC with relation to compliances. The OPC need not prepare the cash flow statement. The company secretary need not sign the books of accounts and annual returns and be signed only by the director.
                        </span>
                     </li>
                    <li class="shubham-text"><span class="main-text">Easy incorporation</span>
                        <span>
                            <br/>
                            Since a single person can establish and run the OPC, it becomes easy to manage its affairs. It is easy to make decisions, and the decision-making process is quick. The ordinary and special resolutions can be passed by the member easily by entering them into the minute book and signed by the sole member. Thus, running and managing the company is easy as there won’t be any conflict or delay within the company.
                        </span>
                    </li>
                    <li class="shubham-text"><span class="main-text">Perpetual succession</span>
                        <span>
                            <br/>
                            The OPC has the feature of perpetual succession even when there is only one member. While incorporating the OPC, the single-member needs to appoint a nominee. Upon the member’s death, the nominee will run the company in the member’s place.
                        </span>
                    </li>
                  </ul>
            </div>
        </div>


        <div class="gst-container-inner">
            <div class="main-heading">
              <p>03</p>
              <p style="white-space: normal; word-break: break-word; width: 500px;">ONE PERSON COMPANY(OPC) REGISTRATION PROCESS</p>
            </div>
            
            <div class="content-section">
              <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <p>Here are some of the benefits that may incline you even more towards getting the sole proprietorship register and to start with.</p>

                <li>Step 1: Apply for DSC
                </li>
                <li>Step 2: Apply for DIN</li>
                <li>Step 3: Name Approval Application</li>
                <li>Step 4: Filing of Forms With MCA</li>
                <li>Step 5: Issue of the Certificate of Incorporation</li>
              </ul>
            </div>
            </div>
    </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Document required OPC registration</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Copy of PAN Card of owner.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Passport size photograph of the <br/>owner.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Copy of Aadhaar Card/ Voter <br/>identity card.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Electricity/ Water bill (Business<br/>Place)</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Copy of Property papers (If owned<br/> property)</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Landlord NOC</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>  
        <hr class="footer-divider"/>
        <div class="navgate">
          <a href="/index.html">HOME</a>
          <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
          <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
          <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
          <a href="/Component/Development/development.html">DEVELOPMENT</a>
          </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>
