<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company REGISTRATION | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
            <nav class="nav-links">
                <div class="nav-item">TAX REGISTRATION</div>
                <div class="nav-item middle">
                  <span class="text-default">COMPANY</span>
                  <span class="text-hidden">REGISTRATION</span>
                </div>
                <div class="nav-item">INDUSTRY SPECIFIC REGD.</div>
                <div class="nav-item">DEVELOPMENT</div>
              </nav>
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>

          </header>
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">PARTNERSHIP <br/>REGISTRATION</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
     
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">WHAT IS PARTNERSHIP REGISTRATION?</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>A Partnership is one of the most important forms of a business organization. Partnership registration means the registration of the partnership firm by its partners with the Registrar of Firms. The partners should register their firm with the Registrar of Firms of the state where the firm is located. Since partnership firm registration is not compulsory, the partners can apply for registration of the partnership firm either at the formation of the firm or subsequently at any time during its operation.
              </li>
              <li>The Indian Partnership Act, 1932 governs and regulates partnership firms in India. The persons who come together to form the partnership firm are knowns as partners. The partnership firm is constituted under a contract between the partners. The contract between the partners is known as a partnership deed which regulates the relationship among the partners and also between the partners and the partnership firm.
              </li>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 400px;">IMPORTANCE OF REGISTERING A PARTNERSHIP FIRM</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 420px;">
                    <p>The registration of a partnership firm is optional and not compulsory under the Indian Partnership Act. It is at the discretion of the partners and voluntary. The firm’s registration can be done at the time of its formation or incorporation or during the continuance of the partnership business.
                    </p>
                    <p>However, it is always advisable to register the partnership firm as a registered firm enjoys certain special rights and benefits as compared to the unregistered firms. The benefits that a partnership firm enjoy are:</p>
                    <li>You are at the correct place to learn what the sole proprietor firm registration online india is.</li>
                    <li>
                        A partner can sue against any partner or the partnership firm for enforcing his rights arising from a contract against the partner or the firm. In the case of an unregistered partnership firm, partners cannot sue against the firm or other partners to enforce his right.
                    </li>
                    <li>The registered firm can file a suit against any third party for enforcing a right from a contract. In the case of an unregistered firm, it cannot file a suit against any third party to enforce a right. However, any third party can file a suit against the unregistered firm.
                    </li>
                    <li>
                        The registered firm can claim set-off or other proceedings to enforce a right arising from a contract. The unregistered firm cannot claim set off in any proceedings against it.
                    </li>
                  </ul>
            </div>
        </div>

        <div class="gst-container-inner">
          <div class="main-heading">
            <p>03</p>
            <p>PROCEDURE FOR REGISTERING A PARTNERSHIP</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width:450px;">
                    <li>Step 1: Application for Registration.</li>
                    <li>Step 2: Selection of Name of the Partnership Firm
                    </li>
                    <li>Step 3: Certificate of Registration</li>
                </ul>
            </div>
        </div>
    </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Document required for Registration</p>
          <p>Partnership</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p style="white-space: normal; word-break: break-word; width:300px;">Application for registration of partnership(Form 1)</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p style="white-space: normal; word-break: break-word; width:250px;">Certified original copy of Partnership Deed.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p style="white-space: normal; word-break: break-word; width:275px;">Specimen of an affidavit certifying all the details mentioned in the partnership deed and documents are correct.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p style="white-space: normal; word-break: break-word; width:300px;">PAN Card and address proof of the partners.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p style="white-space: normal; word-break: break-word; width:300px;">Proof of principal place of business of the firm (ownership documents or rental/lease agreement).</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>
        <hr class="footer-divider"/>
        <div class="navgate">
          <a href="/index.html">HOME</a>
          <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
          <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
          <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
          <a href="/Component/Development/development.html">DEVELOPMENT</a>
          </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>