<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Company registration | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
            <nav class="nav-links">
                <div class="nav-item">TAX REGISTRATION</div>
                <div class="nav-item middle">
                  <span class="text-default">COMPANY</span>
                  <span class="text-hidden">REGISTRATION</span>
                </div>
                <div class="nav-item">INDUSTRY SPECIFIC REGD.</div>
                <div class="nav-item">DEVELOPMENT</div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>
          </header>
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">PRIVATED LIMITED<br/> REGISTRATION</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">WHAT IS A PRIVATED LIMITED COMPANY</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>A Private Limited Company (PLC) is one of the most common types of legal entityin India. Private Limited Companies are governed by the Companies Act, 2013 and require a minimum of 2 Directors and 2 Shareholders with one of the Directors being an Indian Resident and Indian Citizen.
              </li>
              <li>To register a company in India, the following are minimum requirements:</li>
              <li>
                2 Directors – 1 Person should be an Indian National and Indian Resident</li>
              <li>2 Shareholders – The Directors can be shareholders
            </li>
            <li>Registered Office in India
            </li>
            </ul>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">ADVANTAGE OF PRIVATED LIMITED COMPANY REGISTRATION IN INDIA</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 450px;">
                    <li class="shubham-text"><span class="main-text">Limited risk to personal assets</span><span><br/>The shareholders of a private limited company have limited liability. This means that as a shareholder you will be liable to pay for company’s liability only to the extent of the contribution made by you. The shareholders do not have any personal liability and hence need not pay for the company’s liability out of their own assets.</span></li>
                    <li class="shubham-text">
                        <span class="main-text">Legal Entity</span>
                      <span>
                        <br/>
                        A PLC has a separate legal entity different from you. This means that the Company is responsible for the management of its assets and liabilities, debtors and creditors. You will not be held responsible for the losses of the company. So, the creditors cannot proceed against you to recover the money.
                      </span>
                      </li>
                     <li class="shubham-text"><span class="main-text">Raising Capital</span>
                        <span>
                        <br/>
                        Even though registering a PLC comes with compliance requirements, it is preferred by entrepreneurs as it helps them raise funds through equity, expand and at the same time limits the liability.
                        </span>
                     </li>
                    <li class="shubham-text"><span class="main-text">Trustworthiness</span>
                        <span>
                            <br/>
                            Companies in India are registered with the Registrar of companies(ROC) under the Companies Act 2013. Anyone can check the details of the company through the Ministry of Corporate Affairs (MCA) portal. Also, details of all the directors are provided while the formation of the company. Hence a PLC form of business structure is trusted more.
                        </span>
                    </li>
                    <li class="shubham-text"><span class="main-text">Continue Existence</span>
                        <span>
                            <br/>
                            A company has ‘perpetual succession’, i.e. continue or uninterrupted existence until it is legally dissolved. A company, being a separate legal person, is unaffected by the death or cessation of any member but continues to be in existence irrespective of the changes in membership.
                        </span>
                    </li>
                  </ul>
            </div>
        </div>

        <div class="gst-container-inner">
            <div class="main-heading">
              <p>03</p>
              <p style="white-space: normal; word-break: break-word; width: 500px;">BENEFITS OF REGISTRING AND STARTING THE BUSINESS FORM THE SOLE PROPRIETOSHIP</p>
            </div>
            
            <div class="content-section">
              <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <p>Here are some of the benefits that may incline you even more towards getting the sole proprietorship register and to start with.</p>

                <li>
                    This business offers the least cost and compliance, which is a huge plus point.
                </li>
                <li>The sole proprietorship business is easy to close and start, as well.
                </li>
                <li>This business is super cost-effective.</li>
                <li>Also, the owner has absolute control over the business, and you are liberal to choose the name of the firm.</li>
              </ul>
            </div>
            </div>
    </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Document required online<br/>proprietorship firm registration</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line-shubham"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Copy of PAN Card of owner.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of PAN card or<br/> passport (foreign nationals & NRIs)</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of voter<br/> ID/passport/driving license.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of the latest bank <br/>statement/telephone or mobile<br/> bill/electricity or gas bill</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned passport-sized photograph<br/> specimen signature</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of the latest bank<br/>statement/telephone or mobile<br/>bill/electricity or gas bill</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of no-objection<br/>certificate from the property owner</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of notarised rental<br/> agreement in English</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Scanned copy of sale deed/property<br/>deed in English (in case of owned<br/> property)</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>
        <hr class="footer-divider"/>
        <div class="navgate">
          <a href="/index.html">HOME</a>
          <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
          <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
          <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
          <a href="/Component/Development/development.html">DEVELOPMENT</a>
          </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>