<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company REGISTRATION | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
            <nav class="nav-links">
                <div class="nav-item">TAX REGISTRATION</div>
                <div class="nav-item middle">
                  <span class="text-default">COMPANY</span>
                  <span class="text-hidden">REGISTRATION</span>
                </div>
                <div class="nav-item">INDUSTRY SPECIFIC REGD.</div>
                <div class="nav-item">DEVELOPMENT</div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>
          </header>
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">PROPRIETORSHIP <br/>REGISTRATION</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">WHAT IS PROPRIETORSHIP REGISTRATION?</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>Sole Proprietorship is the most manageable form of business in India, the main reason this business, is attracting a lot of young entrepreneurs who are starting their business alone in beginning.
              </li>
              <li>This Proprietorship model has only one owner, and the registration process is super simple and easy, which is making the new business plan for most business entities. However, it requires the online proprietorship firm registration india to make it functional.</li>
            </ul>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">PROMINENCE OF SOLE PROPRIETOR FIRM REGISTRATION ONLINE INDIA</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 420px;">
                    <li>When you are trying to get the sole proprietor firm registration online india, you need to know what proprietorship registration is.
                    </li>
                    <li>You are at the correct place to learn what the sole proprietor firm registration online india is.</li>
                    <li>
                        Moreover, we are here to serve you the registration process and to learn about the document required for online proprietorship firm registration. So, let's get started with the basics.
                    </li>
                    <li>Proprietorship is the choice of a business that you are willing to start, and to get it on track, you need to register it. When we talk about the sole proprietorship, this proprietorship based on a single person, it requires an online proprietorship firm registration India to open a current bank account. This bank account will be on the name of the business that you are planning to start. So, your business is on the right track, that too with minimum costing and even lesser compliance.
                    </li>
                    <li>
                        This registration is the golden chance for most of the new business owners who are starting as solo owner. Also, the owner has to bear all the liabilities. The best part about starting and registering for the sole proprietorship is the simplicity and the ease of simple procedures and the least compliance for the business to get started.
                    </li>
                  </ul>
            </div>
        </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>03</p>
            <p>BENEFITS OF REGISTRING AND STARTING THE BUSINESS FROM THE SOLE PROPRIEROSHIP</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width:450px;">
                    <p>Here are some of the benefits that may incline you even more towards getting the sole proprietorship register and to start with.<p>
                    <li>This business offers the least cost and compliance, which is a huge plus point.</li>
                    <li>The sole proprietorship business is easy to close and start, as well.</li>
                    <li>This business is super cost-effective.</li>
                    <li>Also, the owner has absolute control over the business, and you are liberal to choose the name of the firm.</li>
                </ul>
            </div>
        </div>
    </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Document required for online </p>
          <p>proprietorship firm gistration</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Aadhar card</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>PAN card</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Bank account details</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Registered office proof (Utility bill)</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Mobile number and email Id</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Passport size photograph</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>
        <hr class="footer-divider"/>
        <div class="navgate">
          <a href="/index.html">HOME</a>
          <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
          <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
          <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
          <a href="/Component/Development/development.html">DEVELOPMENT</a>
          </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>