<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Company registration | RINTECH</title>
    <link rel="stylesheet" href="./Service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>
            <nav class="nav-links">
                <div class="nav-item"><a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a></div>
                <div class="nav-item middle">
                  <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
                  <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
                </div>
                <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
                <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>

          </header>
          <!-- Optional Content Area -->
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">PUBLIC LIMITED<br/> REGISTRATION</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="gst-container">
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>01</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">WHAT IS A PUBLIC LIMITED COMPANY REGISTRATION</p>
          </div>
          
          <div class="content-section">
            <ul class="component-list" style="white-space: normal; word-break: break-word; width: 400px;">
              <li>A Public Limited Company under Company Act 2013 is a company that has limited liability and offers shares to the general public. Its stock can be acquired by anyone, either privately through (IPO) initial public offering or via trades on the stock market.</li>
              <li>A Public Limited Company is strictly regulated and is required to publish its true financial health to its shareholders.
              </li>
            </ul>
          </div>
          </div>
        <div class="gst-container-inner">
          <div class="main-heading">
            <p>02</p>
            <p style="white-space: normal; word-break: break-word; width: 500px;">ADVANTAGE OF PUBLIC LIMITED COMPANIES</p>
          </div>
           <div class="content-section">
                  <ul class="component-list" style="white-space: normal; word-break: break-word; width: 450px;">
                    <li class="shubham-text"><span class="main-text">More capital</span><span><br/>Shares are offered to the general public at large i.e. anyone can invest in a public limited company. Hence, improves the capital of the company.
                    </span></li>
                    <li class="shubham-text">
                        <span class="main-text">More attention</span>
                      <span>
                        <br/>
                        Being listed on a stock market ensures that mutual funds, hedge funds and other traders take note of the business of the company. This may result in better business opportunities for the Public Limited Company.
                      </span>
                      </li>
                     <li class="shubham-text"><span class="main-text">Spreading risk</span>
                        <span>
                        <br/>
                        Since the shares are sold to the public at large the unsystematic risk of the market is spread out.
                        </span>
                     </li>
                    <li class="shubham-text"><span class="main-text">Growth and expansion opportunities</span>
                        <span>
                            <br/>
                            Due to less risk, there is a perfect opportunity for growing and expanding the business by investing in new projects from the money raised through shares.
                        </span>
                    </li>
                  </ul>
            </div>
        </div>
        <div class="gst-container-inner">
            <div class="main-heading">
              <p>03</p>
              <p style="white-space: normal; word-break: break-word; width: 500px;">PROCEDURE FOR REGISTRATION OF A PUBLIC LIMITED COMPANY</p>
            </div>
            
            <div class="content-section">
                <ul class="component-list" style="white-space: normal; word-break: break-word; width: 450px;">
                  <li class="shubham-text"><span class="main-text">Step 1: Digital Signature Certificate (DSC)</span><span><br/>Since the registration procedure of a company is entirely online, a digital signature will be required for filing the forms on the MCA portal. For all proposed directors as well as the subscribers of the memorandum and articles of association, DSC is compulsory.
                  </span></li>
                  <li class="shubham-text">
                      <span class="main-text">Step 2: Director Identification Number (DIN)</span>
                    <span>
                      <br/>
                      It is an identification number concerning a director; it has to be procured by anyone who intends to become a director in a company. DIN of a proposed director in addition to the name and address proof has to be mentioned in the company registration form.
                    </span>
                    </li>
                   <li class="shubham-text"><span class="main-text">Step 3: Registration on the MCA Portal</span>
                      <span>
                      <br/>
                      A completed SPICe+ form has to be submitted on the MCA portal in order to apply for company registration. To fill the SPICe+ form and submit the required documents, the Director of a company needs to register on the MCA portal. After the registration process is completed, the director will get access to the MCA portal services which comprises filing e-forms as well as viewing public documents.
                      </span>
                   </li>
                  <li class="shubham-text"><span class="main-text">Step 4: Certificate of Incorporation</span>
                      <span>
                          <br/>
                          After the registration application is submitted along with the concerned documents, the Registrar of Companies will inspect the application. After the application is verified, he will issue the Certificate of Incorporation of the Public Company.
                      </span>
                  </li>
                </ul>
          </div>
            </div>
    </div>
      <section class="checklist-section">
        <div class="checklist-heading">
          <p>Document required online Incorporating a<br/>Public Limited Company</p>
          </div>
      
        <div class="checklist">
          <div class="checklist-line-shubham"></div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Proof of identity of all the<br/> shareholders and directors.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Proof of address of all the<br/>directors and the shareholders.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>PAN number of all the<br/>shareholders and directors.</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Utility bill of the proposed office<br/> i.e. proposed registered office for<br/> the company.<br/> bill/electricity or gas bill</p>
          </div>
      
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>A NOC (No Objection Certificate)<br/> from the landlord where the<br/>office of the company will be<br/> situated.</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Director Identification Number<br/> (DIN) of all the directors.</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Digital Signature Certificate (DSC)<br/> of the directors.</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Memorandum of Association<br/> (MOA).</p>
          </div>
          <div class="checklist-item">
            <div class="checklist-icon">
              <img src="/assests/correct.svg" alt="Check" class="check-image" />
            </div>
            <p>Articles of association (AOA)</p>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-logo">
            <div class="footer-brand">RINETECH</div>
        
            <div class="footer-content-logo">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#"" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
         
          <div class="footer-socials">
            <div><span>INSTAGRAM</span><img src="/assests/instagram-logo-white.svg" alt="Instagram" /></div>
            <div><span>LINKEDIN</span><img src="/assests/inkedin-logo-white.svg" alt="LinkedIn" /></div>
            <div><span>FACEBOOK</span><img src="/assests/facebook-logo-white.svg" alt="Facebook" /></div>
          </div>
        </div>
        <hr class="footer-divider"/>
        <div class="navgate">
          <a href="/index.html">HOME</a>
          <a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a>
          <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
          <a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a>
          <a href="/Component/Development/development.html">DEVELOPMENT</a>
          </div>
          </div>
        </div>
      </section>
      
       
      <script src="./services.js"></script>
</body>
</html>
