<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="icon" type="image/x-icon" href="/assests/k-logo.avif">
    <link rel="stylesheet" href="./Blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
        <section class="blog-hero">
          <div class="navbar">
            <div class="menu-bar">
              <div class="menu-icon">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="header-left">
              <div class="koch">KOCH</div>
            
              <div class="logo">
                <span class="hex-icon">
                  <img src="/assests/hexagon.svg" alt="hex" class="logo-image" />
                </span>
                <div class="finance">
                  <div>FINANCE</div>
                  <div>TEMPLATE</div>
                </div>
              </div>
            </div>
            
    
            <ul class="nav-links">
              <li><span><a href="/404Not-found.html">SERVICES</a></span></li>
              <li><span><a href="/Component/CaseStudy/casestudy.html">CASE STUDIES</a></span></li>
              <li><span><a href="/Component/Company/company.html"></span>COMPANY</a></li>
              <li><span><a href="/Component/Blog/Blog.html">BLOG</a></span></li>
            </ul>
    
            <button class="contact-button">
              <a href="/Component/Contact/contact.html">CONTACT</a>
              <div class="hex-wrapper">
                  <img src="/assests/hexagon.svg" class="button-hexagon" />
                  <img src="/assests/right arrow.svg" class="button-arrow" />
                </div>
            </button>
    
          </div>
          
            <div class="blog-content">
              <h1>Blog</h1>
              <p class="article">Professional financial articles and our opinions</p>
            </div>
          </section>

          <div class="middle">
            <h2 class="word">Recommended</h2>
            <div class="wrapper">
                <div class="left">
                    <div class="content-items">
                        <img src="/assests/invest.jpg" />
                        <a href="/404Not-found.html"></a>
                    </div>
                    <div class="content-items">
                        <img src="/assests/Bookshelves.jpg" />
                        <a href="/404Not-found.html"></a>
                    </div>
                    <div class="content-items">
                        <img src="/assests/Data.jpg" />
                        <a href="/Component/Blog/Financial.html"></a>
                    </div>
                    <div class="content-items">
                        <img src="/assests/Man-with-laptop.jpg" />
                        <a href="/404Not-found.html"></a>
                    </div>
                    <div class="content-items">
                        <img src="/assests/Corridor.jpg" />
                        <a href="/Component/Stockmarket-trades/Comprehensive-guide.html"></a>
                    </div>
                </div>
                <div class="right">
                    <img src="/assests/Store.jpg" />
                    <a href="/Component/Stockmarket-trades/Stock.html"></a>
                </div>
            </div>
        </div>

        
        <div class="wrapper-content">
          <h2>Latest</h2>
          <div class="content-grid">
            <!-- Content Item 1 -->
            <div class="content-item">
              <a href="/404Not-found.html">
              <div class="image-container">
                <img src="/assests/invest.jpg" alt="Content Image" />
                <div class="overlay-panel">
                  <!-- Visual Search Icon -->
                  <div class="panel-item visual-search">
                   <!-- Visual Search SVG Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 24 24" fill="#004AAD">
  <path d="M5 3a2 2 0 0 0-2 2v4h2V5h4V3H5Zm14 0h-4v2h4v4h2V5a2 2 0 0 0-2-2ZM5 17H3v4a2 2 0 0 0 2 2h4v-2H5v-4Zm16 0h-2v4h-4v2h4a2 2 0 0 0 2-2v-4ZM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
</svg>
                  </div>
                  <div class="panel-item add-favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                               4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 
                               2.09C13.09 3.81 14.76 3 16.5 
                               3 19.58 3 22 5.42 22 8.5c0 
                               3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                  </div>
                  <div class="panel-item open-settings">
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
  <circle cx="5" cy="12" r="2"/>
  <circle cx="12" cy="12" r="2"/>
  <circle cx="19" cy="12" r="2"/>
</svg>
                  </div>
                </div>
              </div>

            </a>
              <div class="content-text">
                <p class="category">FINANCIAL</p>
                <a href="">Tips for investing in bitcoin and other digital or virtual currency</a>
                <p>
                  Finance management is an important part of business management. As such, you need to know the basic principles and principles of finance.
                </p>
              </div>
              <div class="read-more">
                <p>READ
                  <div class="hex-wrapp">
                    <img src="/assests/hexagon.svg" class="button-hexa" />
                    <img src="/assests/right arrow.svg" class="button-arr" />
                  </div>
                </p>
              </div>
            </div>
            
            <!-- Content Item 2 -->
            <div class="content-item">
              <a href="/Component/Stockmarket-trades/Stock.html">
              <div class="image-container">
                <img src="/assests/Store.jpg" alt="Content Image" />
                <div class="overlay-panel">
                  <!-- Visual Search Icon -->
                  <div class="panel-item visual-search">
                    <!-- Visual Search SVG Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 24 24" fill="#004AAD">
  <path d="M5 3a2 2 0 0 0-2 2v4h2V5h4V3H5Zm14 0h-4v2h4v4h2V5a2 2 0 0 0-2-2ZM5 17H3v4a2 2 0 0 0 2 2h4v-2H5v-4Zm16 0h-2v4h-4v2h4a2 2 0 0 0 2-2v-4ZM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
</svg>
                  </div>
                  <!-- Favorites Icon -->
                  <div class="panel-item add-favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                               4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 
                               2.09C13.09 3.81 14.76 3 16.5 
                               3 19.58 3 22 5.42 22 8.5c0 
                               3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                  </div>
                  <!-- Settings Icon -->
                  <div class="panel-item open-settings">
                    <!-- Three Dots Horizontal Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
  <circle cx="5" cy="12" r="2"/>
  <circle cx="12" cy="12" r="2"/>
  <circle cx="19" cy="12" r="2"/>
</svg>
                  </div>
                </div>
              </div>
            </a>
              <div class="content-text">
                <p class="category">Economy</p>
                <a href="">The top 10 most significant European stock market trades ever</a>
                <p>
                  Finance management is an important part of business management. As such, you need to know the basic principles and principles of finance.
                </p>
              </div>
              <div class="read-more">
                <p>READ
                  <div class="hex-wrapp">
                    <img src="/assests/hexagon.svg" class="button-hexa" />
                    <img src="/assests/right arrow.svg" class="button-arr" />
                  </div>
                </p>
              </div>
            </div>
            
            <!-- Content Item 3 -->
            <div class="content-item">
              <a href="/404Not-found.html"><
              <div class="image-container">
                <img src="/assests/Bookshelves.jpg" alt="Content Image" />
                <div class="overlay-panel">
                  <!-- Visual Search Icon -->
                  <div class="panel-item visual-search">
                    <!-- Visual Search SVG Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 24 24" fill="#004AAD">
  <path d="M5 3a2 2 0 0 0-2 2v4h2V5h4V3H5Zm14 0h-4v2h4v4h2V5a2 2 0 0 0-2-2ZM5 17H3v4a2 2 0 0 0 2 2h4v-2H5v-4Zm16 0h-2v4h-4v2h4a2 2 0 0 0 2-2v-4ZM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
</svg>
                  </div>
                  <!-- Favorites Icon -->
                  <div class="panel-item add-favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                               4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 
                               2.09C13.09 3.81 14.76 3 16.5 
                               3 19.58 3 22 5.42 22 8.5c0 
                               3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                  </div>
                  <!-- Settings Icon -->
                  <div class="panel-item open-settings">
                    <!-- Three Dots Horizontal Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
  <circle cx="5" cy="12" r="2"/>
  <circle cx="12" cy="12" r="2"/>
  <circle cx="19" cy="12" r="2"/>
</svg>

                  </div>
                </div>
              </div>
            </a>
              <div class="content-text">
                <p class="category">Banking</p>
                <a href="">Make smarter financial decisions that will improve your business</a>
                <p>
                  Finance management is an important part of business management. As such, you need to know the basic principles and principles of finance.
                </p>
              </div>
              <div class="read-more">
                <p>READ
                  <div class="hex-wrapp">
                    <img src="/assests/hexagon.svg" class="button-hexa" />
                    <img src="/assests/right arrow.svg" class="button-arr" />
                  </div>
                </p>
              </div>
            </div>
            
            <!-- Content Item 4 -->
            <div class="content-item">
              <a href="/Component/Blog/Financial.html">
              <div class="image-container">
                <img src="/assests/Data.jpg" alt="Content Image" />
                <div class="overlay-panel">
                  <!-- Visual Search Icon -->
                  <div class="panel-item visual-search">
                    <!-- Visual Search SVG Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 24 24" fill="#004AAD">
  <path d="M5 3a2 2 0 0 0-2 2v4h2V5h4V3H5Zm14 0h-4v2h4v4h2V5a2 2 0 0 0-2-2ZM5 17H3v4a2 2 0 0 0 2 2h4v-2H5v-4Zm16 0h-2v4h-4v2h4a2 2 0 0 0 2-2v-4ZM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
</svg>

                  </div>
                  <!-- Favorites Icon -->
                  <div class="panel-item add-favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                               4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 
                               2.09C13.09 3.81 14.76 3 16.5 
                               3 19.58 3 22 5.42 22 8.5c0 
                               3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                  </div>
                  <!-- Settings Icon -->
                  <div class="panel-item open-settings">
                   <!-- Three Dots Horizontal Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
  <circle cx="5" cy="12" r="2"/>
  <circle cx="12" cy="12" r="2"/>
  <circle cx="19" cy="12" r="2"/>
</svg>

                  </div>
                </div>
              </div>
            </a>
              <div class="content-text">
                <p class="category">FINANCIAL</p>
                <a href="">A step-by-step guide to planning your financial future</a>
                <p>
                  Finance management is an important part of business management. As such, you need to know the basic principles and principles of finance.
                </p>
              </div>
              <div class="read-more">
                <p>READ
                  <div class="hex-wrapp">
                    <img src="/assests/hexagon.svg" class="button-hexa" />
                    <img src="/assests/right arrow.svg" class="button-arr" />
                  </div>
                </p>
              </div>
            </div>
            
            <!-- Content Item 5 -->
            <div class="content-item">
              <a href="/404Not-found.html">
              <div class="image-container">
                <img src="/assests/Man-with-laptop.jpg" alt="Content Image" />
                <div class="overlay-panel">
                  <!-- Visual Search Icon -->
                  <div class="panel-item visual-search">
                  <!-- Visual Search SVG Icon -->
              <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 24 24" fill="#004AAD">
            <path d="M5 3a2 2 0 0 0-2 2v4h2V5h4V3H5Zm14 0h-4v2h4v4h2V5a2 2 0 0 0-2-2ZM5 17H3v4a2 2 0 0 0 2 2h4v-2H5v-4Zm16 0h-2v4h-4v2h4a2 2 0 0 0 2-2v-4ZM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
               </svg>
                  </div>
                  <!-- Favorites Icon -->
                  <div class="panel-item add-favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                               4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 
                               2.09C13.09 3.81 14.76 3 16.5 
                               3 19.58 3 22 5.42 22 8.5c0 
                               3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                  </div>
                  <!-- Settings Icon -->
                  <div class="panel-item open-settings">
                   <!-- Three Dots Horizontal Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
  <circle cx="5" cy="12" r="2"/>
  <circle cx="12" cy="12" r="2"/>
  <circle cx="19" cy="12" r="2"/>
</svg>

                  </div>
                </div>
              </div>
            </a>
              <div class="content-text">
                <p class="category">Economy</p>
                <a href="">How to manage your money and increase your income</a>
                <p>
                  Finance management is an important part of business management. As such, you need to know the basic principles and principles of finance.
                </p>
              </div>
              <div class="read-more">
                <p>READ
                  <div class="hex-wrapp">
                    <img src="/assests/hexagon.svg" class="button-hexa" />
                    <img src="/assests/right arrow.svg" class="button-arr" />
                  </div>
                </p>
              </div>
            </div>

            
            <!-- Content Item 6 -->
            <div class="content-item">
              <a href="/Component/Stockmarket-trades/Comprehensive-guide.html">
              <div class="image-container">
                <img src="/assests/Corridor.jpg" alt="Content Image" />
                <div class="overlay-panel">
                  <!-- Visual Search Icon -->
                  <div class="panel-item visual-search">
                    <!-- Visual Search SVG Icon -->
                 <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" viewBox="0 0 24 24" fill="#004AAD">
                 <path d="M5 3a2 2 0 0 0-2 2v4h2V5h4V3H5Zm14 0h-4v2h4v4h2V5a2 2 0 0 0-2-2ZM5 17H3v4a2 2 0 0 0 2 2h4v-2H5v-4Zm16 0h-2v4h-4v2h4a2 2 0 0 0 2-2v-4ZM12 8a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm0 2a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
                   </svg>
                  </div>
                  <!-- Favorites Icon -->
                  <div class="panel-item add-favorites">
                    <svg xmlns="http://www.w3.org/2000/svg" height="32" width="32" fill="#004AAD" viewBox="0 0 24 24">
                      <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 
                               4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 
                               2.09C13.09 3.81 14.76 3 16.5 
                               3 19.58 3 22 5.42 22 8.5c0 
                               3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                  </div>
                  <!-- Settings Icon -->
                  <div class="panel-item open-settings">
                    <!-- Three Dots Horizontal Icon -->
<svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" fill="#004AAD" viewBox="0 0 24 24">
  <circle cx="5" cy="12" r="2"/>
  <circle cx="12" cy="12" r="2"/>
  <circle cx="19" cy="12" r="2"/>
</svg>
                  </div>
                </div>
              </div>
            </a>
              <div class="content-text">
                <p class="category">Banking</p>
                <a href="">Learn how to manage your finances with this comprehensive guide</a>
                <p>
                  Finance management is an important part of business management. As such, you need to know the basic principles and principles of finance.
                </p>
              </div>
              <div class="read-more">
                <p>READ
                  <div class="hex-wrapp">
                    <img src="/assests/hexagon.svg" class="button-hexa" />
                    <img src="/assests/right arrow.svg" class="button-arr" />
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="topic">
          <div class="box">
            <p>Financial topic</p>
            <div class="financial-image">
              <img src="/assests/invest.jpg" class="left"/>
              <img src="/assests/Data.jpg" class="right"/>
            </div>
          </div>
        </div>
        <div class="banking">
          <div class="bank">
            <p>Banking topic</p>
            <div class="financial-image">
              <img src="/assests/Bookshelves.jpg" class="left"/>
              <img src="/assests/Corridor.jpg" class="right"/>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="footer-overlay"></div>
          <div class="footer-content">
            <div class="footer-top">
              <div class="footer-left-side">
                <!-- Hamburger Menu -->
                <div class="footer-bar">
                    <div class="footer-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div class="navbar-left">
                    <div class="footer-left">
                        <span class="footer-koch">KOCH</span>
                        <div class="footer-left-line"></div>
                        <span class="footer-finance">FINANCE TEMPLATE</span>
                    </div>
                </div>
                <div class="footer-center">
                    <a href="/Component/Consultancy/consultancy.html" class="footer-title">Get a consultancy</a>
                    <a href="#" class="footer-contact">555 (33) 738 738</a>
                    <a href="#" class="footer-contact">consultancy@company.com</a>
                </div>
            </div>
              <div class="footer-right-side">
                <nav class="social-nav" aria-label="Social Media Links">
                  <ul class="social-list">
                    <li>
                      <a href="#" class="social-link">
                        INSTAGRAM
                        <img class="social-icon" src="/assests/instagram-logo-white.svg" alt="Instagram Logo" />
                      </a>
                    </li>
                    <li>
                      <a href="#" class="social-link">
                        LINKEDIN
                        <img class="social-icon" src="/assests/inkedin-logo-white.svg" alt="LinkedIn Logo" />
                      </a>
                    </li>
                    <li>
                      <a href="#" class="social-link">
                        FACEBOOK
                        <img class="social-icon" src="/assests/facebook-logo-white.svg" alt="Facebook Logo" />
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              
            </div>
            <hr class="footer-divider" />
            <nav class="footer-navigation" aria-label="Footer Navigation">
              <ul class="horizon1">
                <li><a href="/index.html">HOME</a></li>
                <li><a href="/404Not-found.html">SERVICES</a></li>
                <li><a href="/Component/CaseStudy/casestudy.html">CASE STUDIES</a></li>
                <li><a href="/Component/Company/company.html">COMPANY</a></li>
                <li><a href="/404Not-found.html">TEAM</a></li>
                <li><a href="/Component/Blog/Blog.html">BLOG</a></li>
                <li><a href="/Component/Contact/contact.html">CONTACT</a></li>
              </ul>
            </nav>
          </div>
          <hr class="footer-divider" />
          <nav class="footer-navigation2" aria-label="Footer Navigation">
            <ul class="horizon1">
              <li><a href="#">HOME 2</a></li>
              <li><a href="#">HOME 3</a></li>
              <li><a href="#">SERVICES 2</a></li>
              <li><a href="#">SERVICES 3</a></li>
              <li><a href="#">COMPANY 2</a></li>
              <li><a href="#">COMPANY 3</a></li>
              <li><a href="#">TEAM 2</a></li>
            </ul>
          </nav>
          <hr class="footer-divider" />
          <nav class="footer-navigation3" aria-label="Footer Navigation">
            <ul class="horizon1">
              <li><a href="#">CHANGELOG</li>
              <li><a href="#">LICENING</a></li>
              <li><a href="#">INSTRUCTIONS</a></li>
              <li><a href="#">SIMPLE PAGE</a></li>
            </ul>
          </nav>
          <div class="footer-logo-grid">
            <div class="logo-item"><img src="/assests/Atthe rate.svg" /><span class="footer-last-word">EMAIL US</span></div>
            <div class="logo-item"><img src="/assests/phone-alt-icon-1 - Copy.svg" /><span class="footer-last-word">CALL US</span></div>
            <div class="logo-item"><img src="/assests/webflow-logo-brown - Copy.svg" /><span class="footer-last-word">POWERED BY WEBFLOW</span></div>
            <div class="logo-item"><img src="/assests/metrik-logo-brown.svg" /><span class="footer-last-word">WEBFLOW TEMPLATE</span></div>
          </div>          
        </footer>
          <script src="./Blog.js"></script>
</body>
</html>
