<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="./contact.css">
    <link rel="icon" type="image/x-icon" href="/assests/k-logo.avif">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
    <section id="Header">
        <div class="container">
          <header class="navbar">
            <!-- Logo -->
            <div class="logo">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
              <p class="company-name">RINETECH</p>
            </div>

            <nav class="nav-links">
                <div class="nav-item"><a href="/Component/Tax Registration/tax-Registration.html" class="hover-link">TAX REGISTRATION</a></div>
                <div class="nav-item middle">
                  <span class="text-default"><a href="/Component/Company registration/company-registration.html" class="hover-link">COMPANY</a></span>
                  <span class="text-hidden"><a href="/Component/Company registration/company-registration.html" class="hover-link">REGISTRATION</a></span>
                </div>
                <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html" class="hover-link">INDUSTRY SPECIFIC REGD.</a></div>
                <div class="nav-item"><a href="/Component/Development/development.html" class="hover-link">DEVELOPMENT</a></div>
              </nav>
              
                <button class="contact-button">
                  <a href="/Component/Contact/contact.html">CONTACT</a>
                  <div class="hex-wrapper">
                      <img src="/assests/hexagon.svg" class="button-hexagon" />
                      <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </button>

          </header>
          <div class="content-wrapper">
            <div class="content">
              <div class="content-item">
                <img src="/assests/Meeting.jpg" alt="Meeting" />
              </div>
              <div class="content-item second">
                <img src="/assests/chair.jpg" alt="Contact" />
                <div class="overlay">Contact</div>
              </div>
              <div class="content-item">
                <img src="/assests/Group.jpg" alt="Group" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="middle">
        <div class="left">
          <div class="enquiry">
            <div class="heading">
              <p>01</p>
              <p>ENQUIRY</p>
            </div>
            <div class="write">
              <p>+91 9916910984</p>
              <p>HR@RINETECH.IN</p>
            </div>
          </div>
          <div class="office">
            <div class="heading">
              <p>02</p>
              <p>OFFICE</p>
            </div>
            <div class="write">
              <p>ELECTRONIC CITY</p>
              <p>BANGALORE</p>
              <p>560100</p>
              <p>INDIA</p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right-section">
            <div class="touch">
              <p class="get">GET IN TOUCH</p>
            </div>
            <form class="shubham">
              <input placeholder="Name" required />
              <hr class="line" />
              <input placeholder="Company" required />
              <hr class="line" />
              <input placeholder="Email" required />
              <hr class="line" />
              <div class="same">
                <textarea placeholder="Message" class="Message" required></textarea>
                <hr class="line" />
                <button type="submit">
                  SEND FORM <img src="/assests/right.png" alt="right arrow" />
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="footer-overlay"></div>
      
        <div class="footer-content">
          <div class="footer-left-side">
            <div class="footer-left">
              <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="footer-logo-img" />
              <h2 class="footer-brand">RINETECH</h2>
            </div>
      
            <div class="footer-center">
              <h1 class="footer-title">Get a consultancy</h1>
              <a href="#" class="footer-contact">+91 8919 520 484</a>
              <a href="#" class="footer-contact">info@rinetech.in</a>
            </div>
          </div>
          <div class="space"></div>

          <div class="navgate">
            <a href="/index.html">HOME</a>
            <a href="/Component/Tax Registration/Tax-Registration.html">TAX REGISTRATION</a>
            <a href="/Component/Company registration/company-registration.html">COMPANY REGISTRATION</a>
            <a href="/Component/Industrial specific regd/industrial-specific-regd.html" class="hover-trigger">INDUSTRIAL SPECIFIC REGISTRATION</a>
            <div class="dev-wrapper">
              <a href="/Component/Development/Development.html" class="move-on-hover">DEVELOPMENT</a>
            </div>
          </div>
          
        </div>
      </section>
      
      
</body>
</html>
