<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services | Industry</title>
    <link rel="icon" type="image/x-icon" href="/assests/k-logo.avif">
    <link rel="stylesheet" href="./industry.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
          <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
          <p class="company-name">RINETECH</p>
        </div>

          <nav class="nav-links">
            <div class="nav-item"><a href="/Component/Tax Registration/tax-Registration.html">TAX REGISTRATION</a></div>
            <div class="nav-item middle">
              <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
              <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
            </div>
            <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
            <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
          </nav>
          
            <button class="contact-button">
                <a href="/Component/Contact/contact.html">CONTACT</a>
              <div class="hex-wrapper">
                  <img src="/assests/hexagon.svg" class="button-hexagon" />
                  <img src="/assests/right arrow.svg" class="button-arrow" />
                </div>
            </button>

      </header>
    
    <div class="container">
        <section class="gst-section">
            <div class="content">
                <h2>FSSAI REGISTRATION</h2>
                <p style="white-space: normal; word-break: break-word; width: 300px;">FSSAI IS AN AUTONOMOUS BODY WHCIH HAS BEEN ESTABLISHEDUNDER THE FOOD SAFETY AND STANDARD ACT,2006.IT IS RESPONSIBLE FOR PROTECTING THE PUBLIC HEALTH THROUGH SUPERVISION OF FOOD SAFETY.</p>
                <a href="/Component/Navbar-internal-element/FSSAI.html" class="service-button">
                    <span>SERVICE</span>
                    <div class="hex-wrapper">
                        <img src="/assests/hexagon.svg" class="button-hexagon" />
                        <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </a>
            </div>
        </section>
        <section class="epf-esi-section">
            <div class="content">
                <h2>IMPORT EXPORT CODE<br/>REGISTRATION</h2>
                <p style="white-space: normal; word-break: break-word; width: 300px;">IMPORT EXPORT CODE OR IEC IS A 10-DIGIT CODE THAT IS REQUIRED BY EVERYONE WHO ARE LOOKING TO START THEIR IMPORT EXPORT BUSINESS IN THE COUNTRY.</p>
                <a href="/Component/Navbar-internal-element/IEC.html" class="service-button">
                    <span>SERVICE</span>
                    <div class="hex-wrapper">
                        <img src="/assests/hexagon.svg" class="button-hexagon" />
                        <img src="/assests/right arrow.svg" class="button-arrow" />
                    </div>
                </a>
            </div>
        </section>
    </div>
</body>
</html>
