<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rintech | Development</title>
    <link rel="icon" type="image/x-icon" href="/assests/k-logo.avif">
    <link rel="stylesheet" href="./Development.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
          <img src="/assests/rinetech_logo.png" alt="RineTech Logo" class="company-logo" />
          <p class="company-name">RINETECH</p>
        </div>

        <nav class="nav-links">
            <div class="nav-item"><a href="/Component/Tax Registration/tax-registration.html">TAX REGISTRATION</a></div>
            <div class="nav-item middle">
              <span class="text-default"><a href="/Component/Company registration/company-registration.html">COMPANY</a></span>
              <span class="text-hidden"><a href="/Component/Company registration/company-registration.html">REGISTRATION</a></span>
            </div>
            <div class="nav-item"><a href="/Component/Industrial specific regd/industrial-specific-regd.html">INDUSTRY SPECIFIC REGD.</a></div>
            <div class="nav-item"><a href="/Component/Development/development.html">DEVELOPMENT</a></div>
          </nav>

          
            <button class="contact-button">
              <a href="/Component/Contact/contact.html">CONTACT</a>
              <div class="hex-wrapper">
                  <img src="/assests/hexagon.svg" class="button-hexagon" />
                  <img src="/assests/right arrow.svg" class="button-arrow" />
                </div>
            </button>

      </header>
    <div class="container">
    <section class="section fssai">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 250px;">WEB DEVELOPMENT</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">TRANSFORM YOUR WEBSITE INTO A HIGH-PERFORMING MARKETING TOOL THAT TELLS A VISUAL STORY ABOUT YOUR BRAND.CONNECT TO THE RIGHT AUDIENCE WITH OUR CUSTOMIZED DESIGN & DEVELOPMENT SOLUTIONS.</p>
        <a href="/Component/Navbar-internal-element/Web-development.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>

    <section class="section import-export">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 350px;">MOBILE DEVELOPMENT</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">FROM TECHNOLOGY CONSULTATION TO DESIGN,INTEGRATION AND DEVELOPMENT SERVICES-WE OFFER A COMPLETE CYCLE OF MOBILE APP DEVELOPMENT SERVICES THAT IMPROVE YOUR USER ENGAGEMENT AND CONNECT YOU TO THE RIGHT AUDIENCE.</p>
        <a href="/Component/Navbar-internal-element/Mobile-development.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>

    <section class="section msme">
      <div class="content">
        <h2 style="white-space: normal; word-break: break-word; width: 350px;">RPA DEVELOPMENT</h2>
        <p style="white-space: normal; word-break: break-word; width: 300px;">RPA IS A PROMISING NEW DEVELOPMENT IN BUSINESS AUTOMATION.ACHIEVE FASTER ROI WITH FULL-FEATURED AI-DRIVEN ROBOTIC PROCESS AUTOMATION(RPA).WE MAKE A ROBOT FOR YOU TO FULFIL YOUR NEEDS.</p>
        <a href="/Component/Navbar-internal-element/Rpa.html" class="service-button">
          <span>SERVICE</span>
          <div class="hex-wrapper">
            <img src="/assests/hexagon.svg" class="button-hexagon" />
            <img src="/assests/right arrow.svg" class="button-arrow" />
          </div>
        </a>
      </div>
    </section>
  </div>

</body>
</html>